<div class="call" style="max-width: 40em;">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
        <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
    {% endif %}
    {% if site.data.contact.email1 %}
    <div class="call-email"><strong>Email: </strong>
      <a href="mailto:{{ .site.data.contact.email1 }}">
        {{ site.data.contact.email1 }}
      </a>
    {% endif %}
    {% if site.data.contact.email2 %}
      <br>
      &nbsp;or&nbsp;
      <a href="mailto:{{ .site.data.contact.email2 }}">
        {{ site.data.contact.email2 }}
      </a>
    </div>
   {% endif %}
  </div>
  <br>
    {% if include.show_button %}
      <div class="call-box-bottom">
        <a href="{{ site.data.contact.contact_button_link }}" class="button">Contact</a>
      </div>
    {% endif %}
</div>
