---
layout: default
bodyClass: "page-announcements"
---

{% include intro.html%}


<div class="container pt-6 pb-6">
  <div class="row">
    {% assign weighted_announcements = site.announcements | sort: "weight" %}
    {% for announcement in weighted_announcements %}
    <div class="col-12 col-md-6 mb-3">
      <div class="announcement announcement-summary">
        <div class="announcement-content">
          <h2 class="announcement-title">
            <a href="{{ announcement.url | relative_url }}">{{ announcement.title }}</a>
          </h2>
          <p>{{ announcement.content | markdownify | strip_html | truncate: 100 }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
