---
layout: default
bodyClass: "page-contest_info"
---

{% include intro.html%}

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="contest_info contest_info-single content">
        {{content}}
    </div>
</div>

{% if site.data.contest_faq %}
<div class="container">
    <h1><strong>FAQ</strong></h1>
    <hr>
    <div class="accordion" id="accordion">
      {% for faq in site.data.contest_faq %}
      <div class="card">
        <div class="card-header" id={{ faq.id }}>
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target={{ faq.id | prepend: "#collapse" }} aria-expanded="false" aria-controls={{ faq.id | prepend: "collapse" }}>
              {{ faq.question }}
            </button>
          </h2>
        </div>

        <div id={{ faq.id | prepend: "collapse" }} class="collapse show" aria-labelledby={{ faq.id | prepend: "heading" }} data-parent="#accordion">
          <div class="card-body">
            {{ faq.answer }}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>
{% endif %}
<br>
